:root {
    --primaryColor: #FA7436;
    --secondaryColor: #FEFCFB;
    --textDescriptionColor: #666666;
    --backgroundShadow: #FD8D3A;
    --backgroundCardsColor: #F7F8FC;
    --descriptionUserColor: #444444;
}
  