:root {
    --primaryColor: #FA7436;
    --secondaryColor: #FEFCFB;
    --textDescriptionColor: #666666;
    --backgroundShadow: #FD8D3A;
    --backgroundShadowButton: rgba(253,141,58,1);
    --backgroundCardsColor: #F7F8FC;
    --descriptionUserColor: #444444;
    --colorMenu: #222222;
}
  