@import "../../constants/colores.css";

.arrows .arrow {
  background-color: var(--secondaryColor);
  border: 1.5px solid #999999;
  padding: 1rem;
  border-radius: 100%;
  margin: 1rem;
  color: #999999;
}

.arrows .arrow svg {
  width: 25px;
  height: 25px;
  /* fill: #999999; */
}

.arrows .arrow-left {
  background-color: var(--secondaryColor);
}

.arrows .arrow:hover {
  background-color: var(--primaryColor);
  border: 1.5px solid var(--primaryColor);
  color: white;
  box-shadow: 0px 0px 37px -4px var(--backgroundShadowButton);
}
