@import "../../constants/colores.css";
@import "../../constants/font-family.css";

.card-comments-container {
  position: relative;
  width: 100%;
  height: auto;
}

.card-comments-container .card-comments {
  padding-right: 2em;
  font-family: var(--font-primary);
  position: relative;
  margin-left: 50px;
  cursor: pointer;
  z-index: 2;
}

.card-comments-container .card-comments .Client {
  position: relative;
}

.card-comments-container .card-comments .Client .client_img {
  position: absolute;
  top: -2em;
  left: -2em;
}

.card-comments-container .card-comments .Client .client_text {
  position: unset;
  padding: 20px 30px 10px 20px;
  background-color: var(--secondaryColor);
  max-width: 350px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0px 0px 37px -4px var(--textDescriptionColor);
}

.card-comments-container .card-comments .Client .client_text p {
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--descriptionUserColor);
}

.card-comments-container .card-comments .Client .client_text h5 {
  font-weight: 600;
  font-size: 18px;
  color: var(--colorTextPrimary);
}

.card-comments-container .card-comments .Client .client_text .client_name p {
  font-weight: 500;
  font-size: 14px;
  color: var(--textDescriptionColor);
}
